@page "/"
@page "/index"
<PageTitle>Index</PageTitle>

<h1>Movie trailers App!</h1>


<ul>
  <li><strong>IMDB API</strong> - Search for movies using IMDB API and then request which trailers you want to add to the watch list.</li>
  <li><strong>YouTube API</strong> - Search for movies using YouTube API and then add it to the watch list.</li>
  <li><strong>Movie trailers</strong> - List of all movie trailers avaliable to watch</li>
</ul>